* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(315deg, #0039a6, #007FFF);
  position: relative;
}

.container .quote-section {
  width: 500px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.1);
}

.quote-section h2 {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #0000FF;
}

.quote-section #quote {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;  
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.quote-section #author {
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.quote-section #generate-quote {
  padding: 10px 20px;
  background-color: #0039a6;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}
.quote-section #generate-quote:hover {
  background-color: #0066b2;
}
